<html>
    <header>
        <section class="containerCabecalho">
            <div class="divCabecalho-esquerda">
                <img class="logo-Cabecalho" src="/Content/img/cabecalho/logo_principal.svg">
                <h1 class="titulo-Cabecalho">Login Page</h1>
            </div>

            <div>
                <form>
                    <ul class="divCabecalho-direita">
                        <li class="cabecalho-btn" onclick="PageViewModel.AbaHome()">Home</li>
                        <li class="cabecalho-btn" onclick="PageViewModel.AbaCadastro()">Cadastrar</li>
                        <li class="cabecalho-btn login" onclick="PageViewModel.AbaLogin()">Login</li>
                    </ul>
                </form>
            </div>
        </section>
    </header>
</head>