body{
    background-image: linear-gradient(to bottom left, var(--cor-background-terceario), var(--cor-background-secundario));
}

.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.divPrincipal {
    height: auto;
    background: var(--cor-background-principal);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 0.8rem;
    box-shadow: rgb(0 0 0 / 20%) -0.5px 2px 2px 0px;
    flex-direction: column;
}

.divPrincipal-titulo {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divPrincipal-titulo img {
    width: 35%;
}

.criarConta-titulo {
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: .3rem;
    color: var(--cor-fonte-terceario);
}

.criarConta-subTitulo {
    color: var(--cor-fonte-principal);
    font-size: .9rem;
}

.linhaDivisoria {
    height: 1px;
    width: 100%;
    border: none;
    background: var(--cor-background-scape-primario);
    opacity: .25;
    margin: 1rem 0;
}

.inputCadastro {
    background: var(--cor-botao-secundario);
    height: 2.7rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    width: 47%;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.inputCadastro img {
    width: 15px;
}

.btnCadastro:-webkit-autofill, .btnCadastro:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--cor-botao-secundario) inset !important;
    -webkit-text-fill-color: var(--cor-fonte-principal) !important;
}

.divDocumento img {
    width: 18px;
}


























.divPrincipal-Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 75%;
}

.principal-Cadastro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.principal-BtnEmailSenha {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3rem;
}

.btn-Principal {
    border: none;
    height: 2.7rem;
    border-radius: 1.5rem;
    padding: 0 1rem 0 1rem;
    background: transparent;
    color: var(--cor-fonte-principal);
    width: 100%;
    box-sizing: border-box;
}

.btn-Principal:focus, .btn-Principal:focus-visible {
    border: none;
    outline: none;
}

.principal-BtnLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--cor-fonte-principal);
}

.principal-BtnLogin .login{
    font-size: 1rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem 0;
    background: var(--cor-botao-terceario);
    color: var(--cor-fonte-secundario);
    cursor: pointer;
}

.principal-BtnLogin span {
    font-size: .8rem;
    cursor: pointer;
}

.principal-CriarConta {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--cor-fonte-principal);
}

.principal-CriarConta img {
    width: 1rem;
    padding: 0 0.5rem;
}

@media screen and (max-height: 768px){
    main {
        margin-top: 95px;
    }
    .containerPrincipal {
        padding-bottom: 1rem;
    }
}

@media screen and (min-height: 769px){
    body {
        display: flex;
    }
}

@media screen and (min-width: 1300px){
    .divPrincipal-imagem img {
        width: 245px;
    }
    .divPrincipal {
        width: 843px;
    }
}