<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../Content/css/reset.css">
        <link rel="stylesheet" href="../../Content/css/cabecalho/style.css">
    </head>

    <body>
        <p>teste</p>
        <header>
            <section class="cabecalho">
                <div class="cabecalho-esquerda">
                    <a href="https://codepen.io/freeCodeCamp" id="link-img"><img src="../../Content/img/cabecalho/logo.png" id="logo"></a>
                    <h1><a href="https://codepen.io/freeCodeCamp" id="link-h1">FCC: Survey Form</a></h1>
                    <p><a href="https://codepen.io/freeCodeCamp" id="link-p">freeCodeCamp.org</a></p>
                    <p id="botao-follow">+ Follow</p>
                </div>
                <div class="cabecalho-direita">
                    <ul>
                        <li id="cabecalho-coracao">&#10084;</li>
                        <li>View in Editor</li>
                        <li id="cabecalho-sign">Sign Up</li>
                        <li>Log In</li>
                    </ul>
                </div>
            </section>
        </header>
    </body>
</html>

